*,::after,::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    height: 100%;
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 15px;
}

div#contenedor {
    display: flex;

    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;
    border: 2px solid #ccc;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #007bff;
    color: #ffffff;
}

.logo img {
    width: 90px;
    height: auto;
}

a, header a:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
} 

header a:hover {
    text-decoration: underline;
} 

nav {
	padding: 10px;
	float: left;
	width: 170px;
	height: 400px;
	background-color: #dddddd;
}

nav a, nav a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
} 

nav a:hover {
	color: red;
	text-decoration: underline;
} 


.icons a {
    margin-left: 70px;
    margin-top: 10px;
}

.icons img {
    width: 50px;
    height: auto;
}

.container {
    display: flex;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}
main {
    height: 100%;
    display: flex;
    flex-direction: row;
	width: 100%;
	background-color: white;
}


th, td, table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#formLogout{
   padding: 5px;
   background-color: #007bff;
   box-shadow: none;
}

.enlace{
    background-color: white;
    border: 1px solid black;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 15px;
}

input[type="submit"] {
    margin-top: 5px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol li {
    display: inline;
    margin-right: 15px;
}

#sidebarIzq {
    width: 15%;
    min-height: 100%;
   
    background-color: #b6d8f2;
    padding: 20px;
}

#sidebarIzq ul {
    height: 100%;
    list-style: none; 
    padding: 0;
    margin: 0;
}

#sidebarIzq ul li {
    
    margin-bottom: 10px;
}

#sidebarIzq ul li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.mensaje {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}

.comentarios {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.comentario {
    background-color: #fff; /* Color de fondo blanco */
    padding: 15px; /* Espacio interno alrededor del contenido */
    margin: 20px 0; /* Espacio externo arriba y abajo de la `div` */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra sutil */
    font-family: 'Arial', sans-serif; /* Tipo de fuente */
    color: #333; /* Color de texto */
    line-height: 1.6; /* Espaciado entre líneas */
    border: 1px solid #ddd; /* Borde sutil alrededor de la `div` */
}


.cafeteria {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 15px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cafeteria-item {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    width :250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.perfil-usuario {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.imagen_perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.grid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}
.usuario-seguido-item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* Estilo del contenedor principal */
.usuarios-seguidos-container {
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Estilo para cada usuario seguido */
.usuario-seguido-item {
    padding: 40px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



/* Estilo para el nombre del usuario */
.usuario-seguido-item h2 {
    flex-grow: 1; /* Para que ocupe el espacio disponible */
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
}

/* Estilo para el botón de dejar de seguir */
.usuario-seguido-item form {
    margin: 0;
}

.usuario-seguido-item .boton-primario {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.usuario-seguido-item .boton-primario:hover {
    background-color: #cc0000;
}
/* Estilo general para botones */
.boton-primario {
    background-color: #ff4d4d; /* Cambia al color que prefieras */
    color: white; /* Color de texto */
    padding: 10px 15px; /* Espacio interno */
    border: none; /* Remueve el borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero para indicar interactividad */
    transition: background-color 0.3s; /* Transición suave para cambio de color de fondo */
    outline: none; /* Remueve el contorno que aparece al hacer clic */
    margin: 5px 0; /* Margen exterior */
    text-align: center; /* Alineación del texto */
    display: inline-block; /* Para permitir definir un ancho y alto */
    width: auto; /* Ancho automático basado en el contenido interior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    box-sizing: border-box; /* Incluye el padding y border dentro del ancho y alto definidos */
}

/* Remueve el cajetín blanco alrededor de los botones */
button {
    background: none; /* Fondo transparente */
    border: none; /* Sin borde */
    box-shadow: none; /* Sin sombra */
}

/* Aplica el estilo solamente a los botones dentro de .usuario-seguido-item */
.usuario-seguido-item .boton-primario {
    /* Aquí aplicarías los estilos específicos como background-color, padding, etc. */
}

/* Asegúrate de que no haya un estilo adicional que afecte los botones */
.usuario-seguido-item button {
    border: none; /* Sin borde */
    background: transparent; /* Fondo transparente */
    box-shadow: none; /* Sin sombra */
}

/* Resto de tus estilos... */


.usuarios-seguidos-container .usuario-seguido-item form button.boton-primario {
    background-color: transparent; /* Hace que el fondo sea transparente */
    border: none; /* Elimina el borde */
    box-shadow: none; /* Elimina la sombra de la caja */
    color: #090365da; /* Color del texto del botón */
    padding: 0.5em 1em; /* Espaciado dentro del botón */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    font-weight: bold; /* Hace el texto en negrita */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color al hacer hover */
}

.usuarios-seguidos-container .usuario-seguido-item form button.boton-primario:hover {
    background-color: #e0e0e0; /* Color de fondo al hacer hover */
}

.usuarios-seguidos-container .usuario-seguido-item form {
    display: inline-block; /* Hace que el formulario sea en línea con otros elementos */
    margin: 0; /* Elimina márgenes predeterminados */
}

.usuarios-seguidos-container .usuario-seguido-item {
    display: flex; /* Usa flexbox para la alineación */
    align-items: center; /* Centra los items verticalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    margin-bottom: 1em; /* Espacio debajo de cada elemento */
}

.usuarios-seguidos-container .usuario-seguido-item img.imagen_usuario {
    border-radius: 50%; /* Hace la imagen circular */
    margin-right: 1em; /* Espacio a la derecha de la imagen */
}




