.logo {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 6px;
    
}

.foto {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 6px;
}

th, td, table {
    border: 1px solid black;
}