body {
    font-family: Arial, sans-serif;
    background-color: #b6d8f2;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
	margin-top: 1px;
}

.logo img {
    width: 95px;
    height: auto;
	background-color: transparent;
}

.icons a {
    margin-left: 1px;
}

.icons img {
    width: 30px;
    height: auto;
}


th, td, table {
    border: 1px solid black;
}

* {
    margin: 10;
    padding: 100;
    box-sizing: border-box;
}


form {
    max-width: 750px;
    margin: 0 auto;
    background-color: #eff0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* listas */
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol li {
    display: inline;
    margin-right: 10px;
}

#sidebarIzq {
    width: 200px;
    background-color: #b6d8f2;
    padding: 20px;
	margin-left: 1px;
}

#sidebarIzq ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

#sidebarIzq ul li {
    margin-bottom: 10px;
}

#sidebarIzq ul li a {
    display: block;
    text-decoration: plum;
    color: #333;
}
